#wrapper {margin:0 auto; width: 1000px;}
/*Test */
#board {margin:0 auto; width:1000px; position:absolute;}

.grid { margin:1em auto; border-collapse:collapse;  table-layout:fixed; background-image:url('resources/boardvint.png');}
.grid td {
    width:50px; height:50px;
    text-align:center;
    font-family:sans-serif;
}



.red {
    background-color:red;
}
.blue {
    background-color:blue;
}
.yellow {
    background-color:yellow;
}
.green {
    background-color:green;

}
.piece {
    width:18px;
    height:18px;
    border-radius: 9px;
    border:1px solid #000;
    margin:1px;
    float:right;
}
.space {
    cursor:pointer;
    border:solid 1px #000;

}
.home {
    background-image:url('resources/home.png');
}
#debug {
    position:absolute;
    left:730px;
    top:210px;
    width:30px;
    height:80px;

}
#feedback {
    position:absolute;
    left:300px;
    top:210px;
    width:400px;
    height:80px;
    border:1px solid #000;
    font-size:14px;
    padding:10px;

}
#feedbackdebug {
    position:absolute;
    left:600px;
    top:210px;
    width:100px;
    height:80px;
    font-size:14px;

}
#deck {
    position:absolute;
    left:300px;
    top:330px;
    width:200px;
    height:300px;
    border-radius:10px;
    border:1px solid #000;
    font-size:50px;
}
#discard {
    position:absolute;
    left:520px;
    top:330px;
    width:170px;
    height:250px;
    border-radius:10px;
    border:1px solid #000;
    font-size:100px;
    padding-top:50px;
    padding-left:30px;
}
#description {
    font-size:12px;
}
/*
.greenslide {
    background-image:url('resources/greenslide.png');
}
.redslide {
    background-image:url('resources/redslide.png');
}
.blueslide {
    background-image:url('resources/blueslide.jpg');
}
.yellowslide {
    background-image:url('resources/yellowslide.png');
}
 */
